[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pre-commit = "*"
tox = "*"
flake8 = "*"
flake8-bugbear = "*"


[packages]
"e1839a8" = {path = ".", editable = true}
twisted = "<=17.9.0"
aiohttp = {version = "*", markers = "python_version >= '3.4'"}
marshmallow = "*"
typing = "*"
