[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pre-commit = "*"
tox = "*"
Sphinx = {version = "*", markers = "python_version != '3.3'"}
sphinx-autobuild = {version = "*", markers = "python_version != '3.3'"}

[packages]
"e1839a8" = {path = ".", extras = ["tests", "aiohttp", "marshmallow", "twisted", "typing"], editable = true}
