# Package
requests==2.18.1
uritemplate==3.0.0

# Twisted Support
twisted==17.1.0

# Asyncio Support
# Note: Only for Python 3.4+ since `aiohttp` removed Python 3.3
# support (see https://github.com/aio-libs/aiohttp/issues/537)
aiohttp==2.3.0; python_version >= '3.4'

# Testing
pytest==3.2.1
pytest-mock==1.6.2
pytest-cov==2.5.1
tox==2.7.0

# Documentation
Sphinx==1.6.3
sphinx-autobuild==0.7.1
